In [37]:
import pandas as pd
import numpy as np
df=pd.read_csv("match.csv")

In [38]:
df

   Weather Condition Wins in last 3 matches Humidity Win toss Won match?
0              Rainy                 3 wins     High        F         No
1              Rainy                 3 wins     High        T         No
2           OverCast                 3 wins     High        F        Yes
3              Sunny                 2 wins     High        F        Yes
4              Sunny                  1 win   Normal        F        Yes
5              Sunny                  1 win   Normal        T         No
6           OverCast                  1 win   Normal        T        Yes
7              Rainy                 2 wins     High        F         No
8              Rainy                  1 win   Normal        F        Yes
9              Sunny                 2 wins   Normal        F        Yes
10             Rainy                 2 wins   Normal        T        Yes
11          OverCast                 2 wins     High        T        Yes
12          OverCast                 3 wins   Normal        F        Yes
13             Sunny                 2 wins     High        T         No

In [39]:
f=pd.crosstab(index=df["Weather Condition"],columns=df["Won match?"])
f.loc['Rainy']["Yes"]

2

In [40]:
f

Won match?         No  Yes
Weather Condition
OverCast            0    4
Rainy               3    2
Sunny               2    3

In [41]:
s=pd.crosstab(index=df["Wins in last 3 matches"],columns=df["Won match?"])
s

Won match?              No  Yes
Wins in last 3 matches
1 win                    1    3
2 wins                   2    4
3 wins                   2    2

In [43]:
t=pd.crosstab(index=df["Humidity"],columns=df["Won match?"])
t

Won match?  No  Yes
Humidity
High         4    3
Normal       1    6

In [44]:
four=pd.crosstab(index=df["Win toss"],columns=df["Won match?"])
four

Won match?  No  Yes
Win toss
F            2    6
T            3    3

In [30]:
x=df["Won match?"].value_counts()
c_yes=x["Yes"]
c_no=x["No"]
p_yes=x["Yes"]/df["Won match?"].count()
p_no=x["No"]/df["Won match?"].count()

In [57]:
p_no

0.35714285714285715

In [46]:
P_yes=[]
one=(f.loc['Rainy']["Yes"]/c_yes)*(s.loc['2 wins']["Yes"]/c_yes)*(t.loc['Normal']["Yes"]/c_yes)*(four.loc['T']["Yes"]/c_yes)*p_yes

In [47]:
one

0.014109347442680773

In [55]:
two=(f.loc['Rainy']["No"]/c_no)*(s.loc['2 wins']["No"]/c_no)*(t.loc['Normal']["No"]/c_no)*(four.loc['T']["No"]/c_no)*p_no

In [56]:
two

0.010285714285714285